<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HelpDesk AI</title>
</head>
<body>

    <header>
        <h1>HelpDesk AI</h1>
        <p>Sistema Inteligente de Triagem de Chamados</p>
        <hr>
    </header>

    <main>

        <section>
            <h2>Abrir Chamado</h2>

            <form method="POST" action="/cadastrar">

                <div>
                    <label for="nome">Nome</label><br>
                    <input
                        type="text"
                        name = "nome"
                        id="nome"
                        placeholder="digite seu nome"
                        required>
                </div>

                <br>

                <div>
                    <label for="setor">Setor</label><br>
                    <input
                        type="text"
                        id="setor"
                        name="setor"
                        placeholder="Ex.: Financeiro">
                </div>

                <br>

                <div>
                    <label for="titulo">Título do chamado</label><br>
                    <input
                        type="text"
                        id="titulo"
                        name="titulo"
                        placeholder="Resumo do problema"
                        required>
                </div>

                <br>

                <div>
                    <label for="descricao">Descrição</label><br>
                    <textarea
                        id="descricao"
                        name="descricao"
                        rows="7"
                        placeholder="Descreva o problema"
                        required></textarea>
                </div>

                <br>

                <button type="submit">
                    Enviar Chamado
                </button>

            </form>
        </section>

        <section>
            <h2>Chamados</h2>

            <ul>
           {% for chamado in chamados %}
             <li>{{ chamado.nome }} - {{ chamado.titulo }}</li>
                {% endfor %}
            </ul>
        </section>

    </main>

    <footer>
        <p>© 2026 HelpDesk AI</p>
    </footer>

</body>
</html>